/* CSS Document */

/* * select all, or * wild card, or :D ) */




body{

	background-color: lightYellow;
	
}

/* <div> contating image as banners */

#banner{

    position:relative;
    max-width: 1500px;
	margin:auto;
    text-align:center;
    background:#c0f7b2;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
    
    }

#banner img{
    
    border-radius: 15px 50px;
    padding: 10px;
    border: 4px solid lightYellow;
	
	transform: rotate(180deg); /* rotates image */
} 

#textOverly{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 600%;
  font-weight: bold;
  font-style: italic;
  text-shadow:  3px 3px #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



#wrapper{
	
	max-width: 1500px;
	margin: auto;
	background-color: #c0f7b2
	
}


#header{
	border-top: 10px solid lightYellow;
	border-bottom: 4px solid lightYellow;

}



#header, h2{
	padding:20px;
	color: white;
	border-bottom: 6px solid white;
	background-color: rgba(135, 206, 250, 0.8);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	

}


#formData{
	left:2%;	
	border: 0;
	color: white;
	padding: 30px;	
	position:relative;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



#formData fieldset{

	border:0;
	

}


#formData legend{
	
	color: white;
	width: 10em;
	border: 4px solid lightYellow;
	padding: 10px;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-variant: small-caps;
	background-color: rgba(135, 206, 250, 0.8);

	box-shadow: 12px 12px #0d2080;

	
    
}

 #formData table{

	box-shadow: 12px 12px #0d2080;
	

}


#formData input{
	
	width: 16em;
	height: 2em;
	border: 2px white solid;
}

#formData tr{
	
	border: 2px white solid;
	width: 16em;
	height: 2em;
}



#contactTable{
  margin: 20px;
  padding: 50px;
  font-size: 25px;  
  border: 4px solid lightYellow;
  background-color: rgba(135, 206, 250, 0.8);
  
}

#contactTable td:first-child{
  
	text-align: left;
	padding: 4px 30px 12px 14px;
  
}

#contactTable td:nth-child(2){
  
	text-align: center;
	padding: 4px 18px 18px 16px;

}

.formButton{
	
	width: 180px;
	height: 50px;
    color: #3087ff;
	font-size: 24px;
	border: 4px solid white;

	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
