@charset "UTF-8";

body{
         background-image: url("../img/testBackgroundPerfectMeal.jpg");
      	background-repeat: no-repeat;
  		background-attachment: fixed;


}

#wrapper{
    
    margin: auto;
    max-width: 1500px;
    background-color:lightYellow;
    border-right:30px solid lightYellow;
    border-left:30px solid lightYellow;
    padding-bottom:20px;
    
    
}

